---
http_interactions:
- request:
    method: post
    uri: https://webservices.amazon.com/paapi5/getitems
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"test-20","PartnerType":"Associates","Marketplace":"www.amazon.com","ItemIds":["B07212L4G2"],"Resources":["BrowseNodeInfo.WebsiteSalesRank","Images.Primary.Large","ItemInfo.ByLineInfo","ItemInfo.ContentInfo","ItemInfo.ContentRating","ItemInfo.Classifications","ItemInfo.ExternalIds","ItemInfo.Features","ItemInfo.ManufactureInfo","ItemInfo.ProductInfo","ItemInfo.TechnicalInfo","ItemInfo.Title","ItemInfo.TradeInInfo","Offers.Listings.Price","ParentASIN"]}'
    headers:
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetItems
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_KEY/20191003/us-east-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=35eb21fd39a379b54f8aae33154ad0b0949ef5d9c017a8140516d96008e94641
      X-Amz-Content-Sha256:
      - 533250311793b8c510518e3dbb07fde631af61d15673e73d1d391024402ac45d
      X-Amz-Date:
      - 20191003T170323Z
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId:
      - 111b713a-f23e-419a-92ff-e71b5a962123
      x-amz-rid:
      - 52AKTDJJXFVCB8VXZKAW
    body:
      encoding: ASCII-8BIT
      string: '{"ItemsResult":{"Items":[{"ASIN":"B07212L4G2","DetailPageURL":"https://www.amazon.com/dp/B07212L4G2?tag=test-20&linkCode=ogi&th=1&psc=1","Images":{"Primary":{"Large":{"Height":432,"URL":"https://m.media-amazon.com/images/I/41OmiwuvQeL.jpg","Width":500}}},"ItemInfo":{"ByLineInfo":{"Brand":{"DisplayValue":"adidas
        Originals","Label":"Brand","Locale":"en_US"},"Manufacturer":{"DisplayValue":"adidas
        Originals","Label":"Manufacturer","Locale":"en_US"}},"Classifications":{"Binding":{"DisplayValue":"T-shirt","Label":"Binding","Locale":"en_US"},"ProductGroup":{"DisplayValue":"Apparel","Label":"ProductGroup","Locale":"en_US"}},"ExternalIds":{"EANs":{"DisplayValues":["0191027129406"],"Label":"EAN","Locale":"en_US"},"UPCs":{"DisplayValues":["191027129406"],"Label":"UPC","Locale":"en_US"}},"Features":{"DisplayValues":["adidas
        Clothing Size Guide","It''s like a baseball tee, but cooler!","Regular fit
        is eased, but not sloppy, and perfect for any activity.","Crew neckline.","Short
        raglan sleeves. \nIconic three-stripes down sleeves and a Trefoil logo at
        left chest. \nStraight hemline. \n100% cotton.\nMachine wash, tumble dry.\nImported.\nMeasurements:\n\n     Length:
        29 in\n    \n\nProduct measurements were taken using size MD. Please note
        that measurements may vary by size."],"Label":"Features","Locale":"en_US"},"ManufactureInfo":{"ItemPartNumber":{"DisplayValue":"CW1207-700","Label":"PartNumber","Locale":"en_US"},"Model":{"DisplayValue":"CW1207","Label":"Model","Locale":"en_US"}},"ProductInfo":{"Color":{"DisplayValue":"Intense
        Lemons","Label":"Color","Locale":"en_US"},"IsAdultProduct":{"DisplayValue":false,"Label":"IsAdultProduct","Locale":"en_US"},"Size":{"DisplayValue":"Medium","Label":"Size","Locale":"en_US"}},"Title":{"DisplayValue":"adidas
        Originals 3-Stripes Tee Intense Lemons MD","Label":"Title","Locale":"en_US"}},"Offers":{"Listings":[{"Id":"nTbwLoohuOnOlcqzv3tU2slwGKE%2FICZt7LOpgMtt0P6vP6Ny%2FR1RtwQ6ps130j5qKlGvZpPS0Rmtuk6y3KWCyc2v9%2B2IR0Capgos7s%2F7ahQZBCwtlpijdxRwz0c4wr8vlac3t1swYcflYBEevCPiMlajMNM2Qwra","Price":{"Amount":29.09,"Currency":"USD","DisplayAmount":"$29.09"},"ViolatesMAP":false}]},"ParentASIN":"B071K31B2L"}]}}'
  recorded_at: Thu, 03 Oct 2019 17:03:25 GMT
- request:
    method: post
    uri: https://webservices.amazon.com/paapi5/getvariations
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"test-20","PartnerType":"Associates","Marketplace":"www.amazon.com","ASIN":"B07212L4G2","Resources":["BrowseNodeInfo.WebsiteSalesRank","Images.Primary.Large","ItemInfo.ByLineInfo","ItemInfo.ContentInfo","ItemInfo.ContentRating","ItemInfo.Classifications","ItemInfo.ExternalIds","ItemInfo.Features","ItemInfo.ManufactureInfo","ItemInfo.ProductInfo","ItemInfo.TechnicalInfo","ItemInfo.Title","ItemInfo.TradeInInfo","Offers.Listings.Price","ParentASIN"]}'
    headers:
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetVariations
      Content-Type:
      - application/json; charset=utf-8
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AMAZON_KEY/20191003/us-east-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=5f88a1202751fce94c3c6d4e678d24a999fcb824bd941a21dfafae89760adeb4
      X-Amz-Content-Sha256:
      - 1d8025b433ada7d5c6a8a5d72f1a186b71da0b89f82f2f0289fcc2033aa89b85
      X-Amz-Date:
      - 20191003T170325Z
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      x-amzn-RequestId:
      - fa8e62b6-a108-42a1-b02c-5aabe44420b8
      x-amz-rid:
      - CG2PXZ92XDAV7GNBVY3D
    body:
      encoding: ASCII-8BIT
      string: '{"VariationsResult":{"Items":[{"ASIN":"B07212KJ34","DetailPageURL":"https://www.amazon.com/dp/B07212KJ34?tag=test-20&linkCode=ogv&th=1&psc=1","Images":{"Primary":{"Large":{"Height":500,"URL":"https://m.media-amazon.com/images/I/51LPeU4GZiL.jpg","Width":444}}},"ItemInfo":{"ByLineInfo":{"Brand":{"DisplayValue":"adidas
        Originals","Label":"Brand","Locale":"en_US"},"Manufacturer":{"DisplayValue":"adidas
        Originals","Label":"Manufacturer","Locale":"en_US"}},"Classifications":{"Binding":{"DisplayValue":"Apparel","Label":"Binding","Locale":"en_US"},"ProductGroup":{"DisplayValue":"Apparel","Label":"ProductGroup","Locale":"en_US"}},"ExternalIds":{"EANs":{"DisplayValues":["0191027004666"],"Label":"EAN","Locale":"en_US"},"UPCs":{"DisplayValues":["191027004666"],"Label":"UPC","Locale":"en_US"}},"Features":{"DisplayValues":["Slim
        fitting","3 stripes raglan sleeves"],"Label":"Features","Locale":"en_US"},"ManufactureInfo":{"ItemPartNumber":{"DisplayValue":"CW1204-632-S","Label":"PartNumber","Locale":"en_US"},"Model":{"DisplayValue":"CW1204","Label":"Model","Locale":"en_US"}},"ProductInfo":{"Color":{"DisplayValue":"Trace
        Scarlet","Label":"Color","Locale":"en_US"},"IsAdultProduct":{"DisplayValue":false,"Label":"IsAdultProduct","Locale":"en_US"},"ItemDimensions":{"Weight":{"DisplayValue":0.00220462262,"Label":"Weight","Locale":"en_US","Unit":"Pounds"}},"Size":{"DisplayValue":"Small","Label":"Size","Locale":"en_US"}},"Title":{"DisplayValue":"adidas
        Originals Men''s Originals 3 Stripes Tee, Trace Scarlet, S","Label":"Title","Locale":"en_US"}},"ParentASIN":"B071K31B2L","VariationAttributes":[{"Name":"size_name","Value":"Small"},{"Name":"color_name","Value":"Trace
        Scarlet"}]},{"ASIN":"B071G3G2JF","DetailPageURL":"https://www.amazon.com/dp/B071G3G2JF?tag=test-20&linkCode=ogv&th=1&psc=1","Images":{"Primary":{"Large":{"Height":500,"URL":"https://m.media-amazon.com/images/I/41PUG+spC-L.jpg","Width":461}}},"ItemInfo":{"ByLineInfo":{"Brand":{"DisplayValue":"adidas
        Originals","Label":"Brand","Locale":"en_US"},"Manufacturer":{"DisplayValue":"adidas
        Originals","Label":"Manufacturer","Locale":"en_[...]
