---
http_interactions:
- request:
    method: post
    uri: https://webservices.amazon.com/paapi5/getitems
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"<PARTNER_TAG>","PartnerType":"Associates","Marketplace":"www.amazon.com","Resources":["BrowseNodeInfo.WebsiteSalesRank","Images.Primary.Large","ItemInfo.ByLineInfo","ItemInfo.ContentInfo","ItemInfo.ContentRating","ItemInfo.Classifications","ItemInfo.ExternalIds","ItemInfo.Features","ItemInfo.ManufactureInfo","ItemInfo.ProductInfo","ItemInfo.TechnicalInfo","ItemInfo.Title","ItemInfo.TradeInInfo","Offers.Listings.Price","ParentASIN"],"ItemIds":["B07212L4G2"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetItems
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<KEY>/20191008/us-east-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=a66f646a247e44bcd8b73ecff945ca6c1a20ca7c90c1946213cbd91fc7590af1
      X-Amz-Content-Sha256:
      - 779db2da98aff2eb96aba6332a3885a50013f3796bf56c146090a0a8af519fca
      X-Amz-Date:
      - 20191008T174654Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 9f3d6bf1-9a51-4dac-9a8f-116728d116fe
      X-Amz-Rid:
      - W9YJ50YY59C06MFZP50Q
    body:
      encoding: ASCII-8BIT
      string: '{"ItemsResult":{"Items":[{"ASIN":"B07212L4G2","DetailPageURL":"https://www.amazon.com/dp/B07212L4G2?tag=<PARTNER_TAG>&linkCode=ogi&th=1&psc=1","Images":{"Primary":{"Large":{"Height":432,"URL":"https://m.media-amazon.com/images/I/41OmiwuvQeL.jpg","Width":500}}},"ItemInfo":{"ByLineInfo":{"Brand":{"DisplayValue":"adidas
        Originals","Label":"Brand","Locale":"en_US"},"Manufacturer":{"DisplayValue":"adidas
        Originals","Label":"Manufacturer","Locale":"en_US"}},"Classifications":{"Binding":{"DisplayValue":"T-shirt","Label":"Binding","Locale":"en_US"},"ProductGroup":{"DisplayValue":"Apparel","Label":"ProductGroup","Locale":"en_US"}},"ExternalIds":{"EANs":{"DisplayValues":["0191027129406"],"Label":"EAN","Locale":"en_US"},"UPCs":{"DisplayValues":["191027129406"],"Label":"UPC","Locale":"en_US"}},"Features":{"DisplayValues":["adidas
        Clothing Size Guide","It''s like a baseball tee, but cooler!","Regular fit
        is eased, but not sloppy, and perfect for any activity.","Crew neckline.","Short
        raglan sleeves. \nIconic three-stripes down sleeves and a Trefoil logo at
        left chest. \nStraight hemline. \n100% cotton.\nMachine wash, tumble dry.\nImported.\nMeasurements:\n\n     Length:
        29 in\n    \n\nProduct measurements were taken using size MD. Please note
        that measurements may vary by size."],"Label":"Features","Locale":"en_US"},"ManufactureInfo":{"ItemPartNumber":{"DisplayValue":"CW1207-700","Label":"PartNumber","Locale":"en_US"},"Model":{"DisplayValue":"CW1207","Label":"Model","Locale":"en_US"}},"ProductInfo":{"Color":{"DisplayValue":"Intense
        Lemons","Label":"Color","Locale":"en_US"},"IsAdultProduct":{"DisplayValue":false,"Label":"IsAdultProduct","Locale":"en_US"},"Size":{"DisplayValue":"Medium","Label":"Size","Locale":"en_US"}},"Title":{"DisplayValue":"adidas
        Originals 3-Stripes Tee Intense Lemons MD","Label":"Title","Locale":"en_US"}},"Offers":{"Listings":[{"Id":"mNHWaSggDzIiWxfHa1H6Xuwa69zYfIQ9Ms%2F1ucYKiBAtdJ6zpAAwc4OcIKo7a64T0mJuQxvNfya%2FNwi%2FrD6yLR9E73X10KWUCjqL%2B2uS0guLkToa5jxVCSshEQaD6JTgeOpZHMZH3UgGuHzB8Ms1Zw%3D%3D","Price":{"Amount":29.99,"Currency":"USD","DisplayAmount":"$29.99"},"ViolatesMAP":false}]},"ParentASIN":"B071K31B2L"}]}}'
  recorded_at: Tue, 08 Oct 2019 17:46:55 GMT
- request:
    method: post
    uri: https://webservices.amazon.com/paapi5/getvariations
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"<PARTNER_TAG>","PartnerType":"Associates","Marketplace":"www.amazon.com","Resources":["BrowseNodeInfo.WebsiteSalesRank","Images.Primary.Large","ItemInfo.ByLineInfo","ItemInfo.ContentInfo","ItemInfo.ContentRating","ItemInfo.Classifications","ItemInfo.ExternalIds","ItemInfo.Features","ItemInfo.ManufactureInfo","ItemInfo.ProductInfo","ItemInfo.TechnicalInfo","ItemInfo.Title","ItemInfo.TradeInInfo","Offers.Listings.Price","ParentASIN"],"ASIN":"B07212L4G2"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetVariations
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<KEY>/20191008/us-east-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=d3076ba9c02f07c365c096bb4199ad52f49c284badb777749f003c1c6433383a
      X-Amz-Content-Sha256:
      - 7dae12e0c5c19243d01790a4c34185ccdc68e5ef6206adc01c36e136c25a6661
      X-Amz-Date:
      - 20191008T174655Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 999b9c0f-713a-4337-b3b6-2be14e2d759c
      X-Amz-Rid:
      - 7PPKQN80F79V2AQMA88Q
    body:
      encoding: ASCII-8BIT
      string: '{"VariationsResult":{"Items":[{"ASIN":"B071G3GFYP","DetailPageURL":"https://www.amazon.com/dp/B071G3GFYP?tag=<PARTNER_TAG>&linkCode=ogv&th=1&psc=1","Images":{"Primary":{"Large":{"Height":432,"URL":"https://m.media-amazon.com/images/I/41OmiwuvQeL.jpg","Width":500}}},"ItemInfo":{"ByLineInfo":{"Brand":{"DisplayValue":"adidas
        Originals","Label":"Brand","Locale":"en_US"},"Manufacturer":{"DisplayValue":"adidas
        Originals","Label":"Manufacturer","Locale":"en_US"}},"Classifications":{"Binding":{"DisplayValue[...]
- request:
    method: post
    uri: https://webservices.amazon.com/paapi5/getbrowsenodes
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"<PARTNER_TAG>","PartnerType":"Associates","Marketplace":"www.amazon.com","Resources":["BrowseNodes.Ancestor","BrowseNodes.Children"],"BrowseNodeIds":["3045"]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetBrowseNodes
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<KEY>/20191008/us-east-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=b4d8c81ef166c04ce7a571416ea0daa8296ea0052ad7ad831eea056f5c946fa0
      X-Amz-Content-Sha256:
      - 2ba033827cd47da82995f86843d01364fcff20cf01c80b95049851f8e38876ca
      X-Amz-Date:
      - 20191008T174657Z
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - c3507c66-6900-444d-b07d-5164cb96883b
      X-Amz-Rid:
      - TSKEJ79B83PS0ENEBCFC
    body:
      encoding: ASCII-8BIT
      string: '{"BrowseNodesResult":{"BrowseNodes":[{"Ancestor":{"Ancestor":{"Ancestor":{"Ancestor":{"ContextFreeName":"Books","DisplayName":"Books","Id":"283155"},"ContextFreeName":"Subjects","DisplayName":"Subjects","Id":"1000"},"ContextFreeName":"Children''s
        Books","DisplayName":"Children''s Books","Id":"4"},"ContextFreeName":"Children''s
        Growing Up & Facts of Life Books","DisplayName":"Growing Up & Facts of Life","Id":"1084192"},"Children":[{"ContextFreeName":"Children''s
        Adoption Books","DisplayName":"Adoption","Id":"3046"},{"ContextFreeName":"Children''s
        Babysitting Books","DisplayName":"Babysitting","Id":"1084232"},{"ContextFreeName":"Children''s
        Marriage & Divorce Books","DisplayName":"Marriage & Divorce","Id":"3050"},{"ContextFreeName":"Children''s
        Money","DisplayName":"Money","Id":"15356841"},{"ContextFreeName":"Children''s
        Moving","DisplayName":"Moving","Id":"1084194"},{"ContextFreeName":"Children''s
        Multigenerational Family Life","DisplayName":"Multigenerational","Id":"3053"},{"ContextFreeName":"Children''s
        New Baby Books","DisplayName":"New Baby","Id":"3056"},{"ContextFreeName":"Children''s
        New Experiences Books","DisplayName":"New Experiences","Id":"3059"},{"ContextFreeName":"Children''s
        Orphans & Foster Homes Books","DisplayName":"Orphans & Foster Homes","Id":"3060"},{"ContextFreeName":"Children''s
        Parents Books","DisplayName":"Parents","Id":"3061"},{"ContextFreeName":"Children''s
        Siblings Books","DisplayName":"Siblings","Id":"3064"},{"ContextFreeName":"Children''s
        Sleep Issues","DisplayName":"Sleep","Id":"1084248"},{"ContextFreeName":"Children''s
        Stepfamilies Books","DisplayName":"Stepfamilies","Id":"3067"},{"ContextFreeName":"Children''s
        Values Books","DisplayName":"Values","Id":"3163"}],"ContextFreeName":"Children''s
        Family Life Books","DisplayName":"Family Life","Id":"3045","IsRoot":false}]}}'
  recorded_at: Tue, 08 Oct 2019 17:46:58 GMT
- request:
    method: post
    uri: https://webservices.amazon.co.uk/paapi5/getitems
    body:
      encoding: UTF-8
      string: '{"PartnerTag":"<PARTNER_TAG>","PartnerType":"Associates","Marketplace":"www.amazon.co.uk","Resources":["BrowseNodeInfo.WebsiteSalesRank","Images.Primary.Large","ItemInfo.ByLineInfo","ItemInfo.ContentInfo","ItemInfo.ContentRating","ItemInfo.Classifications","ItemInfo.ExternalIds","ItemInfo.Features","ItemInfo.ManufactureInfo","ItemInfo.ProductInfo","ItemInfo.TechnicalInfo","ItemInfo.Title","ItemInfo.TradeInInfo","Offers.Listings.Price","ParentASIN"],"ItemIds":["B07212L4G2"],"LanguagesOfPreference":"fr_CA","OfferCount":"10"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amz-Target:
      - com.amazon.paapi5.v1.ProductAdvertisingAPIv1.GetItems
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<KEY>/20191009/eu-west-1/ProductAdvertisingAPI/aws4_request,
        SignedHeaders=content-encoding;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=cef4ab6412330ef0f6b0c14b9b2beedd761bc1b2903c7d1fa93f372d576d43ae
      X-Amz-Content-Sha256:
      - c38140bb5229dadef4c8ea0302878cc6d435dc1a203ea87e624b19d0ddf27363
      X-Amz-Date:
      - 20191009T145534Z
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - f8fb3515-610a-45c3-b7e1-5341bc9fa9e4
      X-Amz-Rid:
      - HRK30WAN9H35S3AGKEJ1
    body:
      encoding: ASCII-8BIT
      string: '{"__type":"com.amazon.coral.service#InternalFailure","message":"The
        request processing has failed due to some unknown error, exception or failure.
        Please retry again."}'
  recorded_at: Wed, 09 Oct 2019 14:55:36 GMT
recorded_with: VCR 5.0.0
