- :marketplace: CA
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: ES
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: DE
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: FR
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: IT
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: GB
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
- :marketplace: US
  :access_key: access_key
  :secret_key: secret_key
  :partner_tag: partner_tag
