# Copy this file to credentials.yml and fill in your credentials
# You need one set of credentials per region

- version: "2.1"
  credential_id:
  credential_secret:
  marketplace: www.amazon.com
  partner_tag: mytag-20

- version: "2.2"
  credential_id:
  credential_secret:
  marketplace: www.amazon.de
  partner_tag: mytag-21

- version: "2.3"
  credential_id:
  credential_secret:
  marketplace: www.amazon.co.jp
  partner_tag: mytag-22
