name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby: [2.4, 2.5, 2.6, 2.7]

    container:
      image: ruby:${{ matrix.ruby }}

    steps:
    - uses: actions/checkout@v1

    - name: Set up reporter
      continue-on-error: true
      if: success() && github.event_name == 'push' && matrix.ruby == '2.7'
      run: |
        curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        chmod +x ./cc-test-reporter
        ./cc-test-reporter before-build

    - name: Run tests
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake

    - name: Report
      continue-on-error: true
      if: success() && github.event_name == 'push' && matrix.ruby == '2.7'
      run: GIT_BRANCH="${GITHUB_REF/refs\/heads\//}" ./cc-test-reporter after-build --exit-code $?
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        GIT_COMMIT_SHA: ${{ github.sha }}
